

h1 > header{
    margin-bottom: 4rem;
}

.d-flex{
    display: flex;
    justify-content: center;
}
.container{
    height:500px;
    width: 80%;
    margin:0 auto;
    position:relative
    
}


img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    
}



.text-container{
    
    position: absolute;
    bottom:0;
    right:0;
    padding:0 3rem;
}
iv.my-carousel-item{
    display: none;
}
div.my-carousel-item.active{
    display: block;
}
div.my-carousel-item{
    height: 100%;
    position: relative;
    display: none;
}

button{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    border:none;
    border-radius:50%;
    padding:.5rem
}

.button-before{
    top:0
}
.button-after{
    bottom:0
}

.fa-solid{
    font-size: 1.5rem;
}
